/* Default styles for wider screens */
.game-piece{
    width: 3vw;
    height: 3vw; /* Make it square */
    text-align: center;
    font-size: 1.5vw; /* Increase font size */
    font-weight: bold; /* Make text bold */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
}

.bubble{
    width: 5vw;
    height: 3vw;
    font-size: 1.5vw;
    text-align: center;
    border-radius: 20%;

    appearance: textfield;
 
}

.config-board{
    display: flex;
    height: fit-content;
    width: auto;
    justify-content: center;
    gap: 20px;
    align-items: center;
    border: 1px solid #000;
    color: black;
}

/* Add some basic styling for the game board */
#game-board {
    display: grid;
    grid-template-columns: repeat(5, 3vw); /* Adjust the number of columns based on your board size */
    gap: 1px;
    align-self: center;
    margin: 0 auto;
    margin-top: 5vh;
    padding: 1.5%;
    background-color: grey;
    border-radius: 10%;
}

body {
    display: flex;
    flex-direction: column;

    width: 100vw;
    margin: 0; /* Remove default body margin */
    color: #ffffff;
}

#direction-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1px;
}

#direction-buttons button {
    width: 3vw;
    height: 3vw;
    font-size: 20px;
    border-radius: 20%;
}

#controls {
    width: fit-content;
    position: relative;
    align-self: center;
    margin-top: 5vh;
}

#title {
    font-size: 5em;
}
