/* Default styles for wider screens */
.game-piece {
    width: 3vw;
    height: 3vw; /* Make it square */
    text-align: center;
    margin: 0 0.1em; /* Add space between segments */
    font-size: 1.5vw; /* Increase font size */
    font-weight: bold; /* Make text bold */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
}

/* Add some basic styling for the game board */
#game-board {
    display: grid;
    grid-template-columns: repeat(5, 3vw); /* Adjust the number of columns based on your board size */
    gap: 1vw;
    align-self: center;
    margin: 0 auto;
    transform: translateY(50%) translateX(-5px);
}

body {
    display: flex;
    flex-direction: column;

    width: 100vw;
    margin: 0; /* Remove default body margin */
    color: #ffffff;
}

#direction-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
}

#direction-buttons button {
    width: 3vw;
    height: 3vw;
    font-size: 20px;
    border-radius: 20%;
}

#controls {
    width: fit-content;
    position: fixed;
    align-self: center;

    top: 60%;
}
